*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav{
   
    justify-content: space-around;
      background-color: black;
    display: flex;
    width: auto;
    font-size: 22px;
    
}



.all{
    color: white;
    display: flex;
    margin: 10px;
    /* gap: 310px; */
    justify-content: center;
    align-items: center;
    gap: 90px;
    /* margin-left: 90px; */
    /* font-size: 25px; */
}

.name{
    list-style: none;
    display: flex;
    gap: 45px;
}
.name ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.name2{
    list-style: none;
    display: flex;    
    gap: 60px;
}
.name2 ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

.btn1{      
    justify-content: center;     
    align-items: center;
    display: flex;   
    gap: 5px; 
}

.btn1 button{
    background-color: blue;
    color: white;
    font-size: 30px;
    padding: 5px;
    border: none;
}


.all2 {
    display: flex;
    margin: 10px;
    /* margin-left: 400px; */
    height: 20px;
    
}

.name3{
    display: flex;
    list-style: none;
    gap: 70px;
    color: rgb(133, 128, 128);
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name3 p{
    font-size: 20px;
    margin-left: 300px;
}
.container{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #253040;
}
.hero{
    width: 50%;   
    height: 500px;   
}

.hero img{
    width: 100%;
    height: 100%;
}
.hero1{
    
 padding-top: 50px;
 color: white;
 text-align: center;
}

.hero1 h1{
    font-size: 35px;
}
.hero1 p{
    font-size: 26px;
  margin-top: 80px;
}
.btn2{
    margin-top: 90px;
    width: 190px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border:1px solid blue;
   
}

.shoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}
.box1,.box2,.box3{
    width: 30%;
    gap: 20px;
    text-align: center;
    
}

.box1 img,.box2 img,.box3 img{
    width: 100%;
    height: 50%;
    border-radius: 20px;    
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    .all {
        gap: 50px;
        font-size: 20px;
    }

    .name ul,
    .name2 ul {
        gap: 30px;
    }

    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (max-width: 990px) {
    .all {
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }

    .btn1 button {
        font-size: 24px;
    }

    .name3 {
        gap: 40px;
        font-size: 18px;
    }

    .name3 p {
        margin-left: 0;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .hero,
    .hero1 {
        width: 100%;
    }

    .hero {
        height: auto;
    }

    .hero img {
        height: auto;
    }

    .hero1 p {
        margin-top: 30px;
    }

    .btn2 {
        margin-top: 40px;
    }
}

@media (max-width: 770px) {
    .name ul,
    .name2 ul {
        flex-direction: column;
        gap: 15px;
    }

    .name3 {
        flex-wrap: wrap;
        gap: 25px;
    }

    .shoes {
        flex-direction: column;
        align-items: center;
    }

    .box1,
    .box2,
    .box3 {
        width: 80%;
        margin-bottom: 30px;
    }
}


@media (max-width: 576px) {
    .all {
        flex-direction: column;
        gap: 20px;
    }

    .btn1 {
        flex-direction: column;
    }

    .btn1 button {
        width: 120px;
        font-size: 22px;
    }

    .hero1 h1 {
        font-size: 28px;
    }

    .hero1 p {
        font-size: 20px;
    }
}


@media (max-width: 470px) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }

    .box1,
    .box2,
    .box3 {
        width: 95%;
    }

    .btn2 {
        width: 160px;
        height: 45px;
        font-size: 18px;
    }
}


@media (max-width: 370px) {
    .name3 {
        font-size: 14px;
        gap: 15px;
    }

    .hero1 h1 {
        font-size: 22px;
    }

    .hero1 p {
        font-size: 16px;
    }

    .footer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}




